.landing-body {
  width: 90vw;
  background-color: aliceblue;
  margin: 5px;
  display: flex;
  padding: 1em;
  flex-direction: column;
}
.game-board {
  position: relative;
  right: 0;
  width: 90vw;
  height: 45vh;
  background-color: aliceblue;
  margin: 5px;
  display: flex;
  padding: 1em;
  flex-direction: row;
  justify-content: end;
}

.play-btn {
  border: none;
  background: none;
}
.large-icon {
  font-size: 60px;
}

.catBarContainerOpen {
  display: block;
}

.catBarContainerClose {
  display: none;
}
.xmark-icon {
  color: red;
}
.hamburger-icon {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.catBoxContainerVisible {
  display: block;
}

.catBoxContainerHide {
  display: none;
}
