.modalContainer {
  position: absolute;
  width: 60vw;
  height: 30vh;
}

.modal {
  width: 60%;
  max-width: 500px; /* Set a maximum width if desired */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modal h2 {
  margin-top: 0;
}

.modal button {
  margin-top: 10px;
}

.icon {
  margin: 1rem;
  font-size: 4rem;
}
