.box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top: 35%;
  left: 5%;
  width: 80vw;
  height: 20vh;
}

.catGrid {
  position: absolute;
  top: 30%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 10px;
}

.btn:focus,
.btn:focus-visible {
  box-shadow: 0px 0px 10px 5px #0ff;
}
