.word-board {
  right: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.board-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  border: solid red 2px;
}

.x-icon {
  font-size: 4rem;
}
.rotate-icon {
  font-size: 4rem;
}
.word-count {
  display: flex;
  flex-direction: column;
  align-items: center;
}
